*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.container{
  width: 70%;
  margin: 0 auto;
}

.btn{
  text-decoration: none;
  background-color: #0061ff;
  padding: 2px 13px;
  color: white;
}

.btn.blue:hover{
  background-color: #3c85ff;
}

#arrow{
  font-size: 40px;
  color: black;
}

/* HEADER */
header{
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 999;
  line-height: 80px;
  background-color: white;
}

#logo{
  margin-left: 10px;
  vertical-align: middle;
}

.menu-right{
  float: right;
  margin-right: 20px;
}

header nav ul{
  float: left;
}

header nav ul li {
  display: inline-block;
  list-style: none;
  margin-right: 30px;
}

header nav ul li a{
display: inline-block;
text-decoration: none;
color: black;
}

header nav ul li a:hover{
  border-bottom: 2px solid black;
}

/* MAIN */

/* junbotron */
.junbotron{
  min-height: 600px;
  padding-top: 100px;
  background-color: #b4d0e7;
}

.container-junbo{
  width: 80%;
  margin: 0 auto;
}

.junbotron h1{
  font-size: 50px;
  font-weight: bolder;
  margin-top: 80px;
  margin-bottom: 30px;
}

.junbotron-info{
  width: 30%;
  float: left;
}

.junbotron-info p{
  margin-bottom: 20px;
}

.junbotron-info span:first-of-type{
  display: block;
  margin-top: 10px;
  margin-bottom: 30px;
}

.junbotron-image img{
  float: right;
  width: 60%;
  background-color: blueviolet;
}

/* business-plan */
.business-plan{
  min-height: 800px;
  background-color: seagreen;
}

.col{
  width: 30%;
  height: 300px;
  float: left;
  margin: 1%;
  background-color: brown;
}


.partner{
  min-height: 300px;
  background-color: tan;
}

.business-operation{
  min-height: 600px;
  background-color: yellowgreen;
}

.team{
  min-height: 700px;
  background-color: thistle;
}

.free-trial{
  min-height: 300px;
  background-color: silver;
}

.faq{
  min-height: 500px;
  background-color: slateblue;
}


/* FOOTER */
footer{
  min-height: 300px;
  background-color: black;
}