*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.container{
  max-width: 70%;
  margin: 0 auto;
}

.btn{
  text-decoration: none;
  background-color: #0061ff;
  padding: 8px 18px;
  color: white;
}

.btn.blue:hover{
  background-color: #3c85ff;
}

#arrow{
  font-size: 40px;
  color: black;
}

.fa-check{
  color: #0061ff;
}

h2{
  font-size: 38px;
  font-weight: bolder;
}

/* HEADER */
header{
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 999;
  line-height: 80px;
  background-color: white;
}

#logo{
  margin-left: 10px;
  vertical-align: middle;
}

.menu-right{
  float: right;
  margin-right: 20px;
}

header nav ul{
  float: left;
}

header nav ul li {
  display: inline-block;
  list-style: none;
  margin-right: 30px;
}

header nav ul li a{
display: inline-block;
text-decoration: none;
color: black;
position: relative;
}

header nav ul li a:hover{
  border-bottom: 2px solid black;
}

.sub-menu{
  display: none;
}

header nav ul li:hover .sub-menu{
  display: block;
  position: absolute;
  background-color: white;
  padding-left: 20px;
  line-height: 40px;
}

header nav ul li:hover .sub-menu ul li{
  display: block;
}

/* MAIN */

/* Junbotron */
.junbotron{
  min-height: 600px;
  padding-top: 100px;
  background-color: #b4d0e7;
}

.container-junbo{
  width: 80%;
  margin: 0 auto;
}

.junbotron h1{
  font-size: 50px;
  font-weight: bolder;
  margin-top: 80px;
  margin-bottom: 30px;
}

.junbotron-info{
  width: 30%;
  float: left;
}

.junbotron-info p{
  margin-bottom: 20px;
}

.junbotron-info span:first-of-type{
  display: block;
  margin-top: 10px;
  margin-bottom: 30px;
}

.junbotron-image img{
  float: right;
  width: 60%;
}

/* Business-plan */
.col{
  width: calc(100% / 3 - 27px);
  float: left;
  margin-bottom: 50px;
  border: 1px solid black;
}

.center{
  margin: 0 40px;
}

.col-content{
  padding: 50px;
}

.col-title{
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid black;
}

.col-header span{
  display: block;
}

.col-list{
  list-style: none;
  margin: 40px 0;
}

.line{
  height: 1px;
  width: 20%;
  background-color: black;
  margin: 40px 0;
}

.enterprice{
  border: 1px solid black;
}
.enterprice-main{
  float: left;
  line-height: 30px;
  margin: 30px 0 20px 25px;
}

.sales-btn{
  float: right;
  margin: 30px;
}


/* Partner */
.partner{
  margin: 80px auto;
}

.partner-image img{
  max-width: 60%;
  object-fit: cover;
  float: left;
}

.partner-info{
  float: left;
  max-width: 30%;
  margin: 50px 50px;
}


/* Business operation */
.business-operation{
  min-height: 1000px;
}

.business-operation > h2{
  font size: 50px;
}

.operation{
  float: left;
  width: calc(100% / 3 - 20px);
  margin: 10px;
}

.operation img{
  width: 100%;
}


/* Team */
.team{
  min-height: 700px;
  background-color: thistle;
}


/* freetrial */
.free-trial{
  min-height: 300px;
  background-color: silver;
}


/* faq */
.faq{
  margin-bottom: 130px;
}

.faq h4{
  font-size: 40px;
  font-weight: bolder;
  border-bottom: 1px solid black;
  padding-bottom: 40px;
}

.row{
  border-bottom: 1px solid black;
  padding: 30px 30px 30px 0px;
}

.question{
  float: left;
  font-size: 18px;
  font-weight: bold;
}

.answer{
  float: right;
}

.answer a{
  color: black;
}

/* FOOTER */
footer{
  height: 70vh;
  background-color: black;
}

.footer-list{
  padding: 8% 10%;
}

.footer-list ul{
  float: left;
  width: calc(100% / 5);
  list-style: none;
  line-height: 30px;
}

.footer-list ul li a{
  text-decoration: none;
  color: white;
}

.footer-list ul li a:hover{
  border-bottom: 1px solid white;
}

.footer-list ul li:first-child{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.line2{
  height: 1px;
  width: 10%;
  background-color: white;
  margin-left: 10%;
}

.ita{
  color: white;
  margin: 40px 10%;
}